{
  "extends": ["prettier", "plugin:@typescript-eslint/recommended", "plugin:@stencil/recommended"],
  "plugins": ["prettier", "@typescript-eslint"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "prettier/prettier": ["error"]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
